{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Aji Bramantio | PPW</title>
        <meta charset="uts-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'Website_Aji.css' %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            div.row{
                margin-right: 0vh;
            }
        </style>

    </head>
    <body>
        <div class="fix">
            <a href="https://www.instagram.com/aji_bramantio/">
                <img style="width:35px;" alt="Instagram" src="https://image.ibb.co/eYhKEz/iglogo.png"> </a>
            <a href="https://twitter.com/Bramantio_Aji">
                <img style="width:35px;" alt="Twitter" src="https://image.ibb.co/n10T7K/twitterlogo.png"> </a>
            <a href="https://www.facebook.com/aji.bramantio.3">
                <img style="width:35px;" alt="Facebook" src="https://image.ibb.co/ic787K/fblogo.png"> </a>
            <a href="https://www.linkedin.com/in/bramantio-krisno-aji-6a3037171/">
                <img style="width:35px;" alt="LinkedIn" src="https://image.ibb.co/gFDC1e/linkedinlogo.png"> </a>
            <div class="fix2">
                <a href="#home">
                    <img style="width:35px;" alt="home" src="https://image.ibb.co/bsYn1e/logohome.png"> </a>
                <a href="#about">
                    <img style="width:35px;" alt="about" src="https://image.ibb.co/cnd9Ez/aboutlogo.png"> </a>
                <a href="#experience">
                    <img style="width:35px;" alt="experience" src="https://image.ibb.co/jOMwuz/experiencelogo.png"> </a>
                <a href="#skill">
                    <img style="width:35px;" alt="skill" src="https://image.ibb.co/i2LpEz/skilllogo.png"> </a>
                <a href="#contact">
                    <img style="width:35px;" alt="contact" src="https://image.ibb.co/eNgUWe/clogo.png"> </a>
            </div>
        </div>
        <div id="home" class="home container-fluid">
            <nav class="navbar sticky-top navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#home">
                    <img src="https://image.ibb.co/dMWD2K/Logo_AJ1.png" width="80" height="80" class="d-inline-block align-top" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#experience">Experience</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Skill</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="hello">
                <h3 class="atas">Hello, My Name is</h3>
                <h2 class="atas">BRAMANTIO KRISNO AJI</h2>
            </div>
        </div>
        <div id="about" class="about">
            <h1 class="about"><span>About</span></h1>
            <div class="line"></div>
            <img id="fotoabout" class="about" src="https://image.ibb.co/bLXA1e/Aji_aboutjpg.jpg" alt="Foto_full_aji">
            <h2 class="txt">Bramantio Krisno Aji</h2>
            <h4 class="txt">19 Years Old</h4>
            <p class="txt"><strong>i'm just an extraordinary teenager
                <br>that wanna be a Professional
                <br>Frontended and Developer.</strong></p>
        </div>
        <div id="experience" class="experience container-fluid">
            <h1 class="experience">Experience</h1>
            <h4 class="experience">Things i've been do in campus<br><br></h4>
            <div class="row">
                <div class="column">
                    <p class="list">Staff of Dana Usaha Division <br> The 25th CGT</p>
                </div>
                <div class="column">
                    <img id="fotocgt" class="experience" src="https://image.ibb.co/m8B7XK/cgt.jpg" alt="Logo The 25th CGT">
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <p class="list">Staff of Hubungan Masyarakat <br> BEM Fasilkom UI 2018</p>
                </div>
                <div class="column">
                    <img id="fotobem" class="experience" src="https://image.ibb.co/gDRwRe/logo_bem.png" alt="Logo BEM Fasilkom 18">
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <p class="list">PIC of Perlengkapan Division <br> Open House Fasilkom UI 2018</p>
                </div>
                <div class="column">
                    <img id="fotoOh" class="experience" src="https://image.ibb.co/jDJ4CK/OH.jpg" alt="Logo OH Fasilkom 18">
                </div>
            </div>
        </div>
        <div id="skill" class="skill">
            <h1 class="skill">Skill</h1>
            <div class="row">
                <div class="column2">
                    <p class="skill">Phyton</p>
                </div>
                <div class="column2">
                    <p class="skill">Java</p>
                </div>
                <div class="column2">
                    <p class="skill">HTML</p>
                </div>
            </div>
            <div class="row">
                <div class="column2">
                    <img id="phytonpcn" class="phyton" src="https://image.ibb.co/kQ1tPz/crcphyton.png" alt="Skill Phyton">
                </div>
                <div class="column2">
                    <img id="javapcn" class="java" src="https://image.ibb.co/kQ1tPz/crcphyton.png" alt="Logo OH Fasilkom 18">
                </div>
                <div class="column2">
                    <img id="htmlpcn" class="html" src="https://image.ibb.co/jcCDwp/htmlpcn.png" alt="Logo OH Fasilkom 18">
                </div>
            </div>
            <p class="jarak"></p>
        </div>
        <div id="contact" class="bawah">
            <div class="contact">
                <h1 class="contact">Contact</h1>
                <p class="contact">
                    bramantio.krisno@ui.ac.id<br>bramantioaji@gmail.com<br>+62818116158<br><br>
                </p>
                <div class="geser">
                    <div class="row">
                        <div class="column3">
                            <a href="https://www.instagram.com/aji_bramantio/">
                                <img style="width: 100px;" alt="Instagram" src="https://image.ibb.co/eYhKEz/iglogo.png"> </a>
                        </div>
                        <div class="column3">
                            <a href="https://twitter.com/Bramantio_Aji">
                                <img style="width: 100px;" alt="Twitter" src="https://image.ibb.co/n10T7K/twitterlogo.png"> </a>
                        </div>
                        <div class="column3">
                            <a href="https://www.facebook.com/aji.bramantio.3">
                                <img style="width: 100px;" alt="Facebook" src="https://image.ibb.co/ic787K/fblogo.png"> </a>
                        </div>
                        <div class="column3">
                            <a href="https://www.linkedin.com/in/bramantio-krisno-aji-6a3037171/">
                                <img style="width: 100px;" alt="LinkedIn" src="https://image.ibb.co/gFDC1e/linkedinlogo.png"> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="register">
                <h1 class="register">Register Account</h1>
                <form class="regisform" action="">
                    <div class="form-group">
                        <label for="InputName">Name</label>
                        <input type="Name" class="form-control" id="InputName" aria-describedby="emailHelp" placeholder="Enter Name Here">
                    </div>
                    <div class="form-group">
                        <label for="InputEmail">Email address</label>
                        <input type="email" class="form-control" id="InputEmail" aria-describedby="nameHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="InputUsername">Username</label>
                        <input type="username" class="form-control" id="InputUsername" aria-describedby="usernameHelp" placeholder="Enter Username">
                    </div>
                    <div class="form-group">
                        <label for="date-input" class="col-2 col-form-label">Date</label>
                        <input type="date" class="form-control" id="InputDate">
                    </div>
                    <div class="form-group">
                        <label for="InputPassword">Password</label>
                        <input type="password" class="form-control" id="InputPassword" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="InputConfirmPassword">Confirmation Password</label>
                        <input type="password" class="form-control" id="InputConfirmPassword" placeholder="Confirmation Password">
                    </div>
                    <button type="submit" class="btn btn-primary" onclick="" href="#register">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>