{% extends 'navbarstat.html' %}
{% load staticfiles %}
{% block content %}

<div id="profile" class="about">
    <h1 class="about">Profile</h1>
    <div class="line"></div>
    <img id="fotoabout" class="about" src="https://image.ibb.co/bLXA1e/Aji_aboutjpg.jpg" alt="Foto_full_aji">
    <h2 class="txt">Bramantio Krisno Aji</h2>
    <h4 class="txt">19 Years Old</h4>
    <p class="txt">
        <strong>i'm just an extraordinary teenager
            <br>that wanna be a Professional
            <br>Frontended and Developer.</strong>
    </p>
</div>

{% endblock %}