{% extends 'navbarstat.html' %}
{% load staticfiles %}
{% block content %}

<div class="lab6" style="text-align: center;"c>
    <h1>Halo Apakabar?
        <br>
    </h1>
    <div class="statuy" style="text-align: center;">
        <div class="table" style="text-align:center; color:lightgrey; background-color:rgb(128, 128, 128, 0.6);">
            <div class="row">
                <form class="col-12">
                    <table>
                        {% if stats %}
                        <tr>
                            <th>Status</th>
                            <th>Keterangan</th>
                    
                        </tr>
                    
                    
                        {% for data in stats %}
                        <tr>
                            <td class="status">{{ data.status }}</td>
                            <td class="isi_status">{{ data.isi_status }}</td>
                        </tr>
                        {% endfor %} {% else %}
                        <p class="baik" style="color: lightgrey; text-align: left; margin-left: 5%;">Aku baik-baik saja</p>
                        {% endif %}
                    </table>
                </form>
            </div>
            <div class="row">
                <div class="col-12">
                    <form class="col-md-12" id="statusform" action="/lab-6/delete">
                        <button id="delete_status" type="submit" href="/delete" class="btn btn-default">Delete All</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="addstat" style="text-align: center;">
        <form method="POST" class="post-form" action="" novalidate>
            {% csrf_token %}
            <table border="1" >
                {{ form }}
            </table>
            <button id= "add_status" type="sape" style="margin-left:29vh" class="save btn btn-default">Add Status</button>
        </form>
    </div>
</div>

{% endblock %}