{% extends 'navbarlab8.html' %}
{% load staticfiles %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/lab8.css' %}" />
{% endblock %}
{% block content %}
<div class="home">
    <h1 id="olla">Hello let me introduce my self...</h1>
    <img id="fotoabout" class="home" src="https://image.ibb.co/bLXA1e/Aji_aboutjpg.jpg" alt="Foto_full_aji">
    <h2>Bramantio Krisno Aji</h2>
    <h4>19 Years Old</h4>
    <p>
        <strong>i'm just an extraordinary teenager
            <br>that wanna be a Professional
            <br>Frontended and Developer.</strong>
    </p>
</div>
<div>
    <button id="gantiTema" style="margin-bottom:10px;" type="button" onclick="tema()">Change Theme</button>
    
</div>
<div>
    <button id="acor" class="accordion">My Daily Activity</button>
    <div class="panel">
        <p><br>- Undergraduate Student at Faculty of Computer Science Universitas Indonesia<br>- BEM Fasilkom UI 2018 as Staff of Hubungan Masyarakat</p>
    </div>
    
    <button id="acor" class="accordion">Organization and Committee</button>
    <div class="panel">
        <p><br>Organizations :<br>- BEM Fasilkom UI 2018 as Staff of Hubungan Masyarakat<br>- Rohani Islam SMAN 81 Jakarta as PIC of Hubungan Masyarakat<br><br>Committee :<br>- Open House Fasilkom UI 2018 as PIC of Equipments<br>- The 25th Computer's Get Together as Staff of Danus<br>- Kounosei no Matsuri as PIC of Security
        </p>
    </div>
    
    <button id="acor" class="accordion">Books</button>
    <div class="panel">
        <!-- <p><br>2 Gold Medals, 1 Silver Medal, and 1 Bronze Medal on Taekwondo Tournaments</p> -->
        <!-- <div class="text-center" style="padding-top: 2%;">
            <input id="myInput" onkeyup="searchbook()" type="text" placeholder="Filter your books here..." value="">
            <img id="search" onclick="searchbook()" src='https://image.ibb.co/kwVUpf/magnifying-glass.png' style="size:20px,20px;">
            <br>
            <button id="search" style="margin-bottom:10px;" type="button" onclick="searchbook()">Search</button>
        </div>


        <div class="counter-container"><h2><br>Favorito Favorito baby
            <i class="fa fa-star"></i>:
            <span class="counters">0</span></h2>
        </div>
        <input type="text" id="myInput" onkeyup="search()" placeholder="Search for books.."> -->
        <div class="contain ">
            <p></p>
            <input type="text" id="search" placeholder="Search.." name="search">
            <button type="submit" id="searchbutton">
                <i class="fa fa-search"></i>
            </button>
            <p style="color:red;">After your first search please close and open<br>this accordion again to see full result</p>
            <h2>Favorito Favorito baby
                <i class="fa fa-star" id="bintang" style="color:#3498db"></i>:
                <span class="count">0</span>
            </h2>
            <div class="table-responsive">
                <table class="table table-sm">
                    <thead>
                        <tr class="text-center">
                            <th id="number" scope="col">No</th>
                            <th id="image" scope="col">Image</th>
                            <th id="title" scope="col">Book Title</th>
                            <th id="author" scope="col">Authors</th>
                            <th id="publisher" scope="col">Publisher</th>
                            <th id="publishdate" scope="col">Published Date</th>
                            <th id="pagecount" scope="col">Page Count</th>
                            <th id="add" scope="col">Add to Favorite</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>


    </div>
</div>

<script rel="stylesheet" type="text/javascript" src="{% static 'js/lab8.js' %}"></script>

{% endblock %}