{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Aji Bramantio | PPW - JS</title>
        <link href="https://image.ibb.co/mNUJ3V/Press-logo-2017.jpg" rel="icon" type="image/jpg" sizes="16x16"/>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/lab8.css' %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            div.row {
                margin-right: 0vh;
            }
        </style>
    </head>
    <body onload="myFunction()">
        <div id="loader"></div>
        
        <div style="display:none;" id="myDiv" class="animate-bottom">
            <nav class="navbar navbar-expand-lg navbar-light sticky-top" role="navigation">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img src="https://image.ibb.co/dMWD2K/Logo_AJ1.png" width="40" height="40" class="d-inline-block align-top" alt="AJ">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Lab_10/">Subscribe</a>
                        </li>
                    </ul>
                </div>
            </nav>

            {% block content %}
            {% endblock %}

        </div>

    </body>
</html>