<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Aji Bramantio | PPW</title>
    <style>
        img {
            height: 300px;
            widht: 280px;
        }

        article {
            font-family: comicsansms;
            font-size: 15px;
            color: darkred;
            text-align: center;
        }

        div.biodata {
            text-align: center;
        }
    </style>
</head>

<body style="background:lightblue">
    <div id="foto">
        <img align="left" src="https://preview.ibb.co/na3O9e/Aji.jpg" alt="Bramantio Krisno Aji" width="260" height="300" border="0"/>
    </div>
    <div class="foto2">
        <img align="right" src="https://preview.ibb.co/dr8C2z/Aji2.jpg" alt="Bramantio Krisno Aji" width="260" height="300" border="0"/>
    </div>
    <div class="biodata" style="padding-top: 40px">
        <h2>Hello Guys!</h2>
        <h4>Let me introduce myself, my name is {{ name }}
            <br>but my friends like to call me Aji, i'm just an extraordinary teenager
            <br>that wanna be a Professional Backended and Developer.</h4>
        <article>NPM : {{ npm }}</article>
        <article>Age : {{ age }} years old <article>
        <article>Kuliah : Universitas Indonesia</article>
        <article>Hobby : Automotive</article>
    </div>
</body>

<body>
    <center>
        <h2>
            <br>
            <br>
            <br>
            <br>
            <br>Meet My Friends!</h2>
        <div id="mila">
            <img src="https://projects.co.id/upload/usrd7c216/201806165b2402683a13a.jpg" />
        </div>
        <div class="biodata">
            <h3>Siti Kaamiliaa Hasnaa</h3>
            <h4>Let me introduce a few of my friend, her name is Mila.
                <br>She's turning 19 soon and she still can't figure life out.
                <br>Humor is my defense mechanism against life.
                <br> When you know you cant beat them, join them right? </h4>
            <article>NPM : 1706984732</article>
            <article>Age : 19 years old</article>
            <article>Kuliah : Universitas Indonesia</article>
            <article>Hobby : Being Annoying
                <br>
                <br>
                <br>
            </article>
            <h2>AND,
                <br>
                <br>
                <br>
            </h2>
        </div>
        <div id="cici">
            <img src="https://eliora.files.wordpress.com/2018/09/58876.jpg?w=840" width="500" height="330" />
        </div>
        <div class="biodata">
            <h3>Natasya Eliora</h3>
            <h4>And this is Cici, She live in Depok City.
                <br> So, she doesn't need to live in kosan </h4>
            <article>NPM : 1706979404</article>
            <article>Age : 18 years old</article>
            <article>Kuliah : Universitas Indonesia</article>
            <article>Hobby : Like to play </article>
        </div>
    </center>
</body>

</html>