div.home {
    background: url(https://image.ibb.co/kzEu9z/belitung1.jpg)  ;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 0 auto;
}
.navbar {
    background-color: rgb(163, 163, 163);
    z-index: 1;
}
@font-face {
    font-family: "Ropa Sans";
    src: url(https://www.wfonts.com/download/data/2016/06/07/ropa-sans/RopaSans-Italic.ttf) format("truetype");
}
h3.atas { 
    padding-top: 30vh;
    font-family: "Ropa Sans", Verdana, Tahoma;
    text-align: center;
    font-style: italic;
    color: rgb(255, 255, 255);
}
h2.atas {
    font-family: "Ropa Sans", Verdana, Tahoma;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-bottom: 50vh;
}
body {
    background-color: #0DB7ED;
    width: 100vw;
}
.about, div.skill {
    text-align: center;
}
h1 {
    font-family: "Ropa Sans", Verdana, Tahoma;
    width: 100vh;
}
h1.about {
    text-align: center; 
    width: 100%;
    padding-top: 11vh;
    margin-bottom: 3vh;
    color: #384D54;
}
h1.skill {
    width: 100%;
    margin-top: 11vh;
    margin-bottom: 40px;
    color: #384D54;
}
h1.contact {
    width: 100%;
    padding-top: 11vh;
    margin-bottom: 20px;
}
div.about #fotoabout {
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 35px;
    box-shadow: 2px 2px 8px #384D54;
}
.txt, p {
    font-family: "Ropa Sans", Verdana, Tahoma;
    text-align: center;
    color: #384D54;
}
p {
    margin-top: 40px;
    /*font-size: 15px;*/
    font: small;
}
div.experience, div.bawah {
    background: #384D54;
    text-align: center;
    font-family: "Ropa Sans", Verdana, Tahoma;
    color: #0DB7ED;
    max-width: 100%;
}
h1.experience, h1.register {
    width: 100%;
    padding-top: 11vh;
    margin-top: 15px;
    margin-bottom: 40px;
}
.col-md-12  {
    text-align: center;
    width: 100%;
}
.col-md-4,.col-md-3, .col-md-6{
    text-align: center;
}
p.list {
    text-align: center;
    margin-top: 30px;
    font-size: x-large;
    color: #0DB7ED;
}
p.skill {
    /*font-size: 25px;*/    
    font: medium;

}
p.jarak {
    margin-bottom: 95px;
}
div.experience #fotocgt, #fotoOh, #fotobem {
    border-radius: 50%;
    text-align: center;
    max-width: 100px;
    height: 100px;
    margin-bottom: 5vh;
    box-shadow: 2px 2px 8px #384D54;
}
div.skill #phytonpcn, #javapcn, #htmlpcn {
    border-radius: 50%;
    max-width: 100vh;
    max-height: 100vh;
    box-shadow: 2px 2px 8px grey;
}
.fix, .fix2 {
    position: fixed;
    bottom: 25px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    z-index: 1;
}
.fix2 {
    text-align: right;
}
input[type=Name], [type=Email], [type=username], [type=date], [type=password] {
    max-width: 50%;
    text-align: center;
    align: center;
    margin: auto;
}
button[type=submit]:hover {
    background: #0DB7ED;
}
p.contact {
    color: #0DB7ED;
    font-size: 20px;
}